In [ ]:
     #data types
# 1.numeric
  # a. intege: 345, -45
  # b. float: 2.20, -43.0
  # c. complex: 34 + 4j
# 2.string: 'alex', "we are learning python", """python is commom language""", "23"
# 3.boolean: True, False
# 4. sequence/collections:
  # List:
  #     ages = [23,34,40,34,45]
  # tuple:
  #    items = (23,45,67,445,4)
  # range():
  #     range(10)
# Dictionary
# Set

# range(start,end,step)
ages = range(4)
ages = range(4, 10)
ages = range(4, 10, 4)
print(list(ages))
print(type(ages))

[4, 8]
<class 'range'>

In [ ]:
#